@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
body{
    font-family: 'SolaimanLipi', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.section-1 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.last-or-most-read-section {
    width: 25%;
}

.alider-section {
    width: 48%;
}
.last-of-news {
    height: 300px;
    overflow-y: scroll;
}
.last-of-news ul li {
    text-decoration: none;
}

.last-of-news ul li a {
    text-decoration: none;
    /* background: red; */
    color: black;
    padding: 5px 10px;
    display: block;
}.last-of-news ul li {
    text-decoration: none;
}



.last-or-most-read-section h5 {
    background: green;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.section-2 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.last-or-more-read-section-1 {
    width: 25%;
}

.last-or-more-read-photo-1 {
    width: 48%;
}

.last-of-news-1 {
    height: 250px;
    overflow-y: scroll;
}
.last-of-news-1 ul li {
    list-style: none;
}

.last-of-news-1 ul li a {
    font-size: 15px;
    padding: 5px 10px;
    display: block;
    color: black;
    /* background: red; */
    text-decoration: none;
}
.last-or-more-read-section-1 h5 {
    background: green;
    margin-bottom: 20px;
    padding: 10px;
}
img {
    width: 100%;
}
.section-3 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.full-box {margin: auto;display: 
    flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.section-box-full {
    width: 19%;
}

.section-box {
    width: 80%;
}

.section-box-1 img {
    max-width: 100%;
}

.section-box-1 {
    width: 32%;
}
.section-box-1 h1 {
    font-size: 15px;
}
.section-box-1 h1 {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: .5rem;
    background: rgba(0,0,0,0.5);
}

.section-box-1 {
    position: relative;
}
.section-box h5 {
    font-size: 20px;
    background: green;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
}

.section-4 {
    width: 1200px;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}



.section-item-1 {
    width: 80%;
}

.section-item-2 {
    width: 20%;
}
.section-itrm-full {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.section-item-photo {
        width: 32%;
        }
   
    .section-item-text h1 {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    color: white;
    padding: .5rem;
    background: rgba(0,0,0,0.5);
}
.section-item-1 h5 {
    font-size: 20px;
    background: green;
    padding: 4px;
    margin-bottom: 10px;
}
.section-5 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Politics-box-1 {
    width: 80%;
}

.Politics-box-2 {
    width: 19%;
}



.Politics-box-logo {
    width: 48%;
}

.Politics-box-text {
    width: 48%;
}



.Politics-box-text-item {
    display: flex;
    padding: 10px;
    gap: 10px;
        border-bottom: 1px dashed gray;
}

.Politics-box-text-item h5 {
    font-size: 23px;
    gap: 10px;
}
.Politics-box-item {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.Politics-box-1 h1 {
    font-size: 20px;
    background: green;
    padding: 8px;
}
.politics-item h2 {
    font-size: 26px;
    color: black;
    border-bottom: 1px dashed gray;
    padding: 8px;
}

.politics-item h3 {
    font-size: 18px;
    padding-top: 19px;
   border-bottom: 1px dashed gray;
    padding: 10px 0;
}

.politics-item h4 {
    font-size: 20px;
    padding-top: 20px;
    /* border-bottom: 1px solid red; */
}.section-6 {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Politics-box-22 {
    width: 80%;
}

.Politics-box-3 {
    width: 20%;
}

.Politics-box-item-1 {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Politics-box-logo-1 {
    width: 48%;
}

.Politics-box-text-1 {
    width: 48%;
}

.Politics-box-text-item-1 {
    display: flex;
    margin: auto;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px dashed gray;
}

.Politics-box-text-item-1 h5 {
    font-size: 20px;
}

.Politics-box-22 h1 {
    font-size: 20px;
    color: white;
    background: green;
    padding: 7px;
}

.section-7 {
    width: 1200px;
    margin: auto;
        margin-bottom: 99px;
}

.box-item {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.box-item-photo {
    width: 48%;
    height: 300px;
}

.box-item-text {
    width: 48%;
}
.box-item-text p {
    font-size: 27px;
    color: black;
}

.item h1 {
    font-size: 35px;
    padding-top: 23px;
    line-height: 164%;
    ;
}

.item h2 {
    font-size: 29px;
}

.item {
    margin-bottom: 20px;
}

.section-box-9 {
    width: 32%;
}

.box-item-9 img {
    max-width: 100%;
}

.section-9 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.section-box-9 h5 {
    font-size: 25px;
    color: white;
    background: green;
    padding: 9px;
}

.section-box-9 {
}

.box-item-9 {
    margin-bottom: 20px;
}

.section-box-9 h5 {
    margin-bottom: 17px;
}
.box-item-9 h1 {
    font-size: 21px;
}

.box-item-9 h2 {
    font-size: 18px;
    /* padding-top: 15px; */
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.box-item-9 h3 {
    font-size: 19px;
    /* padding-top: 20px; */
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.box-item-9 h4 {
    font-size: 18px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.box-item-9 h6 {
    font-size: 18px;
    padding: 20px 0;
}.header-box {
    width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.main-text {margin: auto;width: 84%;}

.main-logo {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.main-logo img {
    max-width: 100%;
}



.main-menu nav ul {
    display: flex;
    margin: auto;
    width: 84%;
    list-style: none;
}

.main-menu nav ul li a {
    font-size: 15px;
    text-decoration: none;
    padding: 18px 17px;
    display: block;
    /* background: green; */
    color: white;
    transition: all 0.5s ease-in-out;
}

.main-text h1 {
    font-size: 15px;
    background: green;
    padding: 9px;
    color: white;
}
.header-box-full-width-for-date-bg {
    width: 119%;
    background: green;
    padding: 5px 0;
}
.header-box-full-width-for-date-text {
    width: 1200px;
    margin: auto;
}
.header-box-full-width-for-date-text h5 {
    color: white;
    font-size: 12px;
    font-style: normal;
}
.header {
    margin-bottom: 27px;
}


.main-menu-full-width {
    width: 100%;
    background: green;
}

.main-menu {
    width: 1200px;
    margin: auto;
}
.main-menu > nav > ul > li {
    border-right: 1px solid #555555;
    border-left: 1px solid #999999;
}
.main-menu > nav > ul > li:first-child {
    border-left: none;
}
.main-menu > nav > ul > li:last-child {
    border-right: none;
}
.main-menu nav ul li a:hover {
    background: red;
}


.footer-full-width {}

.footer {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-main-logo {
    width: 15%;
}

.footer-main-text {
    width: 78%;
    padding: 38px 0px;
}

.footer-main-logo img {
    max-width: 100%;
}

.footer-full-width {
    width: 100%;
    background: lightgray;
}
.footer-main-text h1 {
    font-size: 20px;
}

.footer-main-text h2 {
    font-size: 20px;
    padding-top: 11px;
}

.footer-main-text h3 {
    font-size: 15px;
    padding-top: 11px;
}

.footer-main-text h4 {
    font-size: 15px;
    line-height: 181%;
}

.footer-main-text h5 {
    font-size: 15px;
}
.footer-gmail {
    width: 100%;
    background: black;
    color: white;
}

.footer-gmail p {
    font-size: 15px;
}
.footer-box {
    width: 1200px;
    margin: auto;
}
.design-social-link {
    width: 100%;
    margin: auto;
    display: flex;
}

.footer-box {
    width: 50%;
}

.social-link-box {
    width: 50%;
    /* display: flex; */
}

.social-link-box ul {
    display: flex;
    list-style: none;
}
.social-link-box ul li {
    height: 27px;
    width: 27px;
    background: red;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.social-link-box ul li a {
    color: white;
}.social-link-box ul li a:hover {
    color: green;
    background: grey;
}